@charset "UTF-8";

@media screen and (min-width: 768px) and (max-width: 992px) {
    body {
        background-image: linear-gradient(to top, #49a09d, #5f2c82);
    }

    section#login {
        width: 80vw;
    }
    section#login > div#imagem {
        float: left;
        height: 100%;
        width: 30%;
    }
    section#login > div#formulario {
        float: right;
        width: 70%;
    }
}
@media screen and (min-width:992px) {
    body {
        background-image: linear-gradient(to top, #49a09d, #5f2c82);
    }

    section#login {
        width: 950px;
    }
    section#login > div#imagem {
        float: right;
        height: 100%;
        width: 50%;
    }
    section#login > div#formulario {
        float: left;
        height: 100%;
        width: 50%;
    }
    div#formulario > h1 {
        font-size: 2em;
    }
    div#formulario > p {
        font-size: 0.8em;
    }
    form > input[type=submit] {
        display: block;
        font-size: 1em;
        width: 100%;
    }
}